.question_container {
}

.movieScene img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.question span {
  width: 100%;
  color: white;
  display: flex;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.choice {
  text-align: center;
  color: black;
  cursor: pointer;
  background-color: white;
  padding: 10px 0px;
  margin-bottom: 15px;
  border-radius: 15px;
}
